body{
  margin:0;
  font-family:Poppins;
  background: radial-gradient(circle at top,#0f172a,#020617);
  color:white;
  text-align:center;
}

/* CARD */
.game-card{
  margin:50px auto;
  padding:30px;
  width:320px;
  border-radius:20px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
}

/* INPUT */
input{
  width:90%;
  padding:12px;
  margin:10px;
  border-radius:10px;
  border:none;
  text-align:center;
}

/* BUTTON */
button{
  margin:8px;
  padding:12px 18px;
  border:none;
  border-radius:10px;
  cursor:pointer;
  background:linear-gradient(45deg,#3b82f6,#06b6d4);
  color:white;
  font-weight:bold;
}

/* RESULT */
#result{
  margin-top:20px;
  font-size:18px;
}