
# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (VERY IMPORTANT)
.env
.env.*
!.env.example

# Hardhat / Blockchain build files
artifacts/
cache/

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp